<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<ul th:fragment="layout-menu" th:class="navi_menu">
		<li><a th:href="@{/}" th:text="#{top}"></a></li>
		<li><a th:href="@{/client/item/list/1?all=1}" th:text="#{item}+#{title.list}"></a></li>
		<li><a th:href="@{/client/basket/list}" th:text="#{basket}"></a></li>
		<li><img src="http://localhost:55000/hiyoko/images/catfornavi.jpg" alt="basket image"
				id="catfornavi" /></li>
	</ul>
</body>

</html>